{
  "index_patterns": [
    "logstash-syslog-gelf*"
  ],
  "settings": {
    "refresh_interval": "{{ opensearch_logstash_arg.index_refresh_interval }}",
    "number_of_shards": "{{ opensearch_servers | length }}"
  }
}