ELASTICSEARCH_EXPORTER_OPTS='--es.timeout=60s --es.uri=https://admin:{{ opensearch_admin_pass | urlencode }}@{{ ansible_default_ipv4.address }}:{{ opensearch_port.rest }} --web.listen-address {{ ansible_default_ipv4.address }}:{{ opensearch_port.elasticsearch_exporter }} --{{ " --".join(vars["opensearch_exporter_collector"]) }} --es.ssl-skip-verify --log.level="warn" --log.format="logfmt"'