# user : password
kibanaserver : {{ opensearch_kibanaserver_pass }}
kibanaro : {{ opensearch_kibanaro_pass }}
logstash : {{ opensearch_logstash_pass }}
readall : {{ opensearch_readall_pass }}
snapshotrestore : {{ opensearch_snapshotrestore_pass }}
