[Unit]
Description=opensearch for Elasticsearch Performance Analyzer
PartOf=elasticsearch.service

[Service]
ExecStart=/usr/share/elasticsearch/bin/performance-analyzer-agent-cli
Restart=on-failure
User=elasticsearch
Group=elasticsearch
Environment=ES_HOME=/usr/share/elasticsearch
WorkingDirectory=/usr/share/elasticsearch
StandardOutput=null

[Install]
WantedBy=elasticsearch.service
